nav.navbar.navbar-inverse(style="-webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px;")
    .container-fluid
        .navbar-header
            a.navbar-brand(href="#") KeyTone
        ul.nav.navbar-nav
            li(ng-class="{ active: $ctrl.isActive('requests') }")
                a(href="/") Solicitudes
            li(ng-class="{ active: $ctrl.isActive('functions') }")
                a(href="/#!/functions") Seguimiento de funciones
            li(ng-class="{ active: $ctrl.isActive('waterfall') }")
                a(href="/#!/waterfall") Cascada
.content.col-xs-12.row(ui-view="")
    block page
